
@{
    ViewBag.Title = "Error Like";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h2>Error while giving Like</h2>

<div class="alert alert-danger">
    <strong>@ViewBag.Like</strong>
</div>

